* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  color: #242424;
  background-color: #ffffff;
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
